body {
    background: rgba(255,186,102,0.7);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,186,102,0.7) 0%, rgba(255,186,102,0.7) 6%, rgba(255,186,102,0.69) 22%, rgba(217,164,99,0.67) 55%, rgba(196,196,196,0.65) 91%, rgba(196,196,196,0.64) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,186,102,0.7)), color-stop(6%, rgba(255,186,102,0.7)), color-stop(22%, rgba(255,186,102,0.69)), color-stop(55%, rgba(217,164,99,0.67)), color-stop(91%, rgba(196,196,196,0.65)), color-stop(100%, rgba(196,196,196,0.64)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,186,102,0.7) 0%, rgba(255,186,102,0.7) 6%, rgba(255,186,102,0.69) 22%, rgba(217,164,99,0.67) 55%, rgba(196,196,196,0.65) 91%, rgba(196,196,196,0.64) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,186,102,0.7) 0%, rgba(255,186,102,0.7) 6%, rgba(255,186,102,0.69) 22%, rgba(217,164,99,0.67) 55%, rgba(196,196,196,0.65) 91%, rgba(196,196,196,0.64) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,186,102,0.7) 0%, rgba(255,186,102,0.7) 6%, rgba(255,186,102,0.69) 22%, rgba(217,164,99,0.67) 55%, rgba(196,196,196,0.65) 91%, rgba(196,196,196,0.64) 100%);
    background: radial-gradient(ellipse at center, rgba(255,186,102,0.7) 0%, rgba(255,186,102,0.7) 6%, rgba(255,186,102,0.69) 22%, rgba(217,164,99,0.67) 55%, rgba(196,196,196,0.65) 91%, rgba(196,196,196,0.64) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffba66', endColorstr='#c4c4c4', GradientType=1 );
}

.personIcon {
 margin-left: 70px !important;
}